h1{
    text-align: center;
    font-size: 60px;
    color: #e63946;
}div{
    padding: 10px;
    border: 15px solid #457b9d;
    margin: auto; /*Para centrar un bloque se pone auto.*/
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100px;
}