h1{
    text-align: center;
    font-size: 60px;
    color: #e63946;
}.caja1{
    padding: 10px;
    border: 1px solid #457b9d;
    margin: 30px;
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100px;
}.caja2{
    padding: 10px;
    border: 1px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100px;
}/*El margen mayor es el que predominará*/