h1{
    text-align: center;
    color: crimson;

}div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
}.iconoAzul{
    font-size: 2.5em; color:cornflowerblue;
}.iconoRojo{
    font-size: 3em; color: crimson;
}